h1 {
    color: darkblue;
    text-align: center;

}

h2 {
    text-align: center;
}

#banner-text {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}